<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="patientsmanagement.patientmanagement.patientsmanagementsystem">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="com.patientmanagement.patientsmanagementsystem.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.patientmanagement.activity.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/pmstest"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name="com.patientmanagement.patientsmanagementsystem.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.patientmanagement.patientsmanagementsystem.MainActivity" />
        <activity android:name="com.patientmanagement.patientsmanagementsystem.RegistrationActivity" />
        <activity android:name="com.patientmanagement.patientsmanagementsystem.DoctorLoginActivity" />
        <activity android:name="com.patientmanagement.patientsmanagementsystem.DoctorRegistrationActivity" />
        <activity android:name="com.patientmanagement.patientsmanagementsystem.DoctorListActivity" />
        <activity android:name="com.patientmanagement.patientsmanagementsystem.PatientDashboard" />
        <activity android:name="com.patientmanagement.patientsmanagementsystem.HealthTips" />
        <activity android:name="com.patientmanagement.patientsmanagementsystem.HealthNews" />
        <activity android:name="com.patientmanagement.patientsmanagementsystem.HealthtipsDetail" />
        <activity android:name="com.patientmanagement.patientsmanagementsystem.HealthNewsDetails" />
        <activity android:name="com.patientmanagement.patientsmanagementsystem.PatientAppoinmentList" />
        <activity android:name="com.patientmanagement.patientsmanagementsystem.PatientDetailActivity" />
        <activity android:name="com.patientmanagement.patientsmanagementsystem.AddPrescriptionActivity" />
        <activity android:name="com.patientmanagement.patientsmanagementsystem.MedicineList" />
        <activity android:name="com.patientmanagement.patientsmanagementsystem.ViewPrescriptionActivity" />
        <activity android:name="com.patientmanagement.patientsmanagementsystem.PatientAppoinmentHistory" />
        <activity android:name="com.patientmanagement.patientsmanagementsystem.DoctorDashboard" />
        <activity android:name="com.patientmanagement.patientsmanagementsystem.ViewSpecificPatientt" />
        <activity android:name="com.patientmanagement.patientsmanagementsystem.Expense" />
        <activity android:name="com.patientmanagement.patientsmanagementsystem.SearchBloodActivity" />
        <activity android:name="com.patientmanagement.patientsmanagementsystem.GoogleMapActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDdDz49FyOrA14ZmW8j6JZQEdE8-H9f_io" />

        <activity android:name="com.patientmanagement.patientsmanagementsystem.MapsActivity"></activity>
    </application>

</manifest>